.currentweather .weathericon,
.currentweather .fa-home {
    font-size: 75%;
    line-height: 65px;
    display: inline-block;
    -ms-transform: translate(0, -3px); /* IE 9 */
    -webkit-transform: translate(0, -3px); /* Safari */
    transform: translate(0, -3px);
}

.currentweather .weathericon {
    font-size: 208px;
    color: white;
}
.currentweather  .temp {
    display: inline-block;
    margin-left: 50px;
    color: #ffffff;

}
.currentweather  .title {
    width: 140px;
    display: inline-block;
    color: #b3b3b3;
}

.currentweather .header {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 28px;
}

/*.currentweather .humidityIcon {*/
    /*padding-right: 4px;*/
/*}*/

/*.currentweather .humidity-padding {*/
    /*padding-bottom: 6px;*/
/*}*/