.calendar {
    height: 100%;
    width: 100%;

    .title {
        font-size: 30px;
    }

    .items-container {
        height: 100%;

        .item {
            width: 100%;

            .header {
                .eventName {
                    font-size: 18px;
                    color: white;
                }

                .info {
                    font-size: 12px;
                    margin-left: 20px;

                    .creator {
                        margin-right: 10px;
                    }
                }
            }

            .attendees {
                display: inline-block;
                font-size: 0.65rem;
            }
        }
    }
}
