.calendar {
    height: 100%;
    width: 100%;

    .items-container {
        .card-body {
            p {
                margin-bottom: 0;
                color: white;
                font-size: 14px;
            }

            span{
                font-size: 12px;
            }
        }

        .card-text {
            margin-bottom: 0;

            p {
                font-size: 12px;
            }
        }

        .attendees {
            display: inline-block;
            font-size: 0.65rem;
        }
    }
}

