.clock-and-date {
    margin-top: 10px;

    .clock span {
        font-size: 90px;
    }

    .date {
        margin-left: 20%;
        padding-top: 10px;

        span {
            font-size: 25px;
        }
    }
}

