.currentweather {
    height: 100%;
    width: 100%;

    .weathericon,
    .fa-home {
        font-size: 75%;
        line-height: 65px;
        display: inline-block;
        -ms-transform: translate(0, -3px); /* IE 9 */
        -webkit-transform: translate(0, -3px); /* Safari */
        transform: translate(0, -3px);
    }

    .currentweather  .temp {
        display: inline-block;
        margin-left: 40px;
        color: #ffffff;
    }

    .currentweather  .title {
        width: 110px;
        display: inline-block;
        color: #b3b3b3;
    }

    .top {
        width: 100%;

        .weathericon {
            font-size: 140px;
            color: white;
            line-height: 1;
        }

        .temp {
            font-size: 50px;
            color: #ffffff;
        }

        .celsius-icon {
            font-size: 30px;
        }

        .center {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .bottom {
        width: 100%;

        .info {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
        }

        .wind {
            color: #b3b3b3;
            font-size: 20px;
        }
    }
}
